<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79fba7">  <td>20/01/31 23:49:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:Runner.TestRunner@f6efaab]">feature</td> 
  <td>main@231756373</td>   <td></td> </tr>
<tr bgcolor="79fba7">  <td>20/01/31 23:49:49</td>   <td>-379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUpClass()[pri:0, instance:Runner.TestRunner@f6efaab]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@231756373</td>   <td></td> </tr>
<tr bgcolor="79fba7">  <td>20/01/31 23:52:19</td>   <td>149991</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDownClass()[pri:0, instance:Runner.TestRunner@f6efaab]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@231756373</td>   <td></td> </tr>
</table>
